.scriptCard {
    transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
    background-color: transparent;
}

.scriptCard:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.scriptCard:active {
    transform: scale(0.99);
}
