.avatar {
    box-shadow: var(--mantine-shadow-xs);
    background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
}

.avatar[data-alignment="good"] {
    background: var(--mantine-color-blue-light);
}

.avatar[data-alignment="evil"] {
    background: var(--mantine-color-red-light);
}

.shroud {
    position: absolute;
    top: -10%;
    left: 15%;
    width: 70%;
    height: 70%;
    opacity: 1.0;
    object-fit: contain;
    pointer-events: none;
    z-index: 1;
    transition: opacity 0.2s ease;
}

.avatar:hover ~ .shroud {
    opacity: 0.2;
}
